body{
  text-align:center;
  background: "./src/views/pencils.jpg";
}
.jumbotron {
  margin-bottom: 0px;
  margin-top: 25px;
  height: 250px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background: url("../src/views/pencils.jpg");
}