body {
	background-image: url("./views/store.jpg")
/*    cursor: url("pencil-clipart.png"), pointer;*/
}

.logo {
	font-family: 'Josefin Sans', sans-serif;
	margin:10px;
	color: white;

}

.navbar {
	position: right;
	color: white;
	background: #0E2431;
}

header {
	position: relative;
	display: block;
	width: 100%;
	background: $black;
	color: white;
	height: 50px;
}

.jumbotron-fluid {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  margin-bottom: 25px;
  margin-top: 40px;
  margin-left: 10px;
  height: 250px;
  color: white;
  text-shadow: 3px 3px 3px #000;
  background-image: url("./views/flower.jpg");
/*  background-image: url("./views/pencils.jpg");*/
  font-stretch: 10px; 	
}
#videos {
	height: 100%;
	width: auto !important;
	padding: 12px;

}

.pinterest-app {
/*	height: auto;
	width: 30%;
	padding: 2px;
	float: left;*/
	
}

.pin-widget-meta, .pin-widget-description, .pin-widget-footer {
	display:none;
}
/*Form {
	text-align: right;
	width: 475px;
	padding: 5px;
	border: 10px;
	margin: 50px;
	background-color: lightblue;
}*/
/*.Child {
	text-align: right;
	width: 475px;
	height: 475px;
	padding: 5px;
	border: 10px;
}*/

footer {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 25px;
	color: white;
  	background-color: #0E2431;
}
